<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="blocks/header :: header"/>

<div class="container mt-5">
    <h1>Main-Blog</h1>
    <div th:each="el : ${posts}" class="alert alert-info mt-5 mb-5">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.anons}"></p>
        <p th:text="${el.getUser().getLogin()}"></p>
        <form th:action="'/list-articles/' + ${el.id}" method="post">
            <button type="submit" class="btn btn-warning">Add to home page</button>
        </form>
        <a th:href="'list-articles/check-article/' + ${el.id}" class="btn btn-warning">Check</a>
        <form th:action="'/list-articles/' + ${el.id} + '/delete'" method="post">
            <button type="submit" class="btn btn-warning">Delete</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"/>
</body>
</html>